@import url('https://cdn.jsdelivr.net/gh/LeonWong0609/logseq-default-dark-0-saturation@main/custom.css');
.audioPlayer {
	position: absolute;
	margin-left: 250px;
	height: 32px;
	z-index: 999;
}

audio::-webkit-media-controls-panel {
  background-color: #002b36;
  color: #fff;
}