/*
This theme was adopted from Dracula for CodeMirror.
Original author: Michael Kaminsky (http://github.com/mkaminsky11)
Original theme by Zeno Rocha: (https://github.com/zenorocha/dracula-theme)
*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@main/bullet_threading.css");


.audioPlayer {
	position: absolute;
	margin-left: 250px;
	height: 32px;
	z-index: 999;
}

audio::-webkit-media-controls-panel {
  background-color: #002b36;
  color: #fff;
}